/* CSS Document */
.hidden {
  display: none; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #000;
  color: white;
  font-size: 18px; }

h2 {
  font-size: 36px; }

#container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 30%));
  grid-column-gap: 40px; }

#logo {
  width: 200px; }

.data {
  color: white; }

.poster {
  height: 100%; }

a {
  color: white;
  text-decoration: none; }

.charName {
  margin-top: -30px;
  text-align: center; }

#resultsList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 40px; }

img.thumbnail {
  box-shadow: 0px 0px 20px 5px white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover; }

.contextMenu img.thumbnail {
  box-shadow: none;
  width: 80px;
  height: 80px; }

img.poster {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px; }

@media screen and (min-width: 768px) {
  img.thumbnail {
    width: 200px;
    height: 200px; } }
