@charset "UTF-8";
/* CSS Document */

$baseMargin: 10px;
$baseFontSize: 18px;
$desktopWidth: 768px;
$mblThumbnail: 80px;
$logoWidth: 200px;

$logoYellow: #ffe919;

/*mixins*/
@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
  }

.hidden {
    display: none;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #000;
    color: white;
    font-size: $baseFontSize * 1.25;
}

#pageTitle {
    color: $logoYellow;
    font-size: $baseFontSize * 2.5;
    font-family: 'Audiowide', sans-serif;
    display: inline;
}

header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: $logoWidth * 2;
    grid-column-gap: $baseMargin * 2;
}

h2, h3 {
    font-size: $baseFontSize * 2;
    color: $logoYellow;
}

#charList h2 {
    text-align: center;
    margin: $baseMargin * 3;
}

#container.gridCon { 
    display: grid;
    grid-template-columns: 1fr 2fr 2fr ;//repeat(3, minmax(0, 30%));
    grid-column-gap: $baseMargin * 4;
    text-align: center;
}

// header
#logo {
	width: $logoWidth;
}

// movie/character data 
.dataCon {
    color: white;
}

.poster {
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.crawl {
    text-align: left;
}

// character 
.charCon {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));    
}

.charName {
    margin-top: $baseMargin * -3;
    // text-shadow: 0px 0px 20px 5px black;
    // width: $mblThumbnail;
    text-align: center;
}

#resultsList { //~
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: $baseMargin * 6;
    margin: $baseMargin * 3;
}

// main list turning into a toggle menu
.menuList {
    width: 10%;
    margin-right: auto;

    #resultsList { //~
        display: flex;
        flex-direction: row;
        img.thumbnail {
            width: 100px; 
            height: 100px;
        }
    }
}

.burgerIconTransform {
    @include transform(rotate(90deg));
}

// images
img.thumbnail {
    box-shadow: 0px 0px 20px 5px white;
    width: $mblThumbnail; 
    height: $mblThumbnail;
    border-radius: 100%;
    object-fit: cover;
}

.contextMenu {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-row-gap: 5px;
    }
    img.thumbnail {
        box-shadow: none;
        width: $mblThumbnail; 
        height: $mblThumbnail;
    }
}

img.poster {
    max-width: 100%;
    max-height: 100%;
    // max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    // position: relative;
}

@media screen and (min-width: $desktopWidth) {
    img.thumbnail {
        width: 200px;
        height: 200px;
    }
}