@charset "UTF-8";

$baseMargin: 10px;
$baseFontSize: 18px;
$desktopWidth: 768px;
$logoWidth: 200px;

$mblThumbnail: 80px;
$mblLargeThumbnail: 120px;
$desktopThumbnail: 200px;

$logoYellow: #ffe919;

/*mixins*/
@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
  }

.hidden {
    display: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Hammersmith One', sans-serif;
    background-color: #000;
    color: white;
    font-size: $baseFontSize * 1.25;
}

#pageTitle {
    color: $logoYellow;
    font-size: $baseFontSize * 2.5;
    font-family: 'Audiowide', sans-serif;
    display: inline;
}

h2, h3 {
    font-size: $baseFontSize * 2;
    color: $logoYellow;
    font-family: 'Audiowide', sans-serif;
}

.menuTitle {
    color: $logoYellow;
    font-family: 'Audiowide', sans-serif;
    font-size: $baseFontSize * 1.25;
}


h3.title {
    margin-top: $baseMargin * 2;
    margin-bottom: $baseMargin * 3;
}

p.crawl {
    margin: $baseMargin * 3 $baseMargin * 2;
}

#charList h2 {
    text-align: center;
    margin: $baseMargin * 3;
}

#container {
   text-align: center; 
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

}

// header
.logoCon {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: $logoWidth * 2;
    grid-column-gap: $baseMargin * 2;
}

#logo {
	width: $logoWidth;
}

.burgerMenu {
    float: right;
    position: relative;
    .fa {
        color: $logoYellow;
    }
}

// movie/character data 
.dataCon {
    color: white;
    padding-left: $baseMargin * 2;

    .charName {
        margin: $baseMargin * 2;
    }
}

a {
    color: white;
    text-decoration: none;
}

.crawl {
    text-align: left;
}

// character 
.charCon {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));    
}

.charName {
    margin-top: $baseMargin * -3;
    // text-shadow: 0px 0px 20px 5px black;
    // width: $mblThumbnail;
    text-align: center;
}

#resultsList { //~
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: $baseMargin * 6;
    margin: $baseMargin * 3;
}

// main list turning into a toggle menu
.menuList {
    order: 0;
    // width: 10%;
    // margin-right: auto;

    #resultsList { //~
        display: flex;
        flex-direction: column;
        img.thumbnail {
            width: 100px; 
            height: 100px;
        }
    }
}

.burgerIconTransform {
    @include transform(rotate(90deg));
}

// images
img.thumbnail {
    width: $mblThumbnail; 
    height: $mblThumbnail;
    border-radius: 100%;
    object-fit: cover;
}

img.thumbnail:hover {
    box-shadow: 0px 0px 20px 5px white;
}

.charProfilePicCon {
   img {
    box-shadow: 0px 0px 20px 5px white;
    width: $mblLargeThumbnail;
    height: $mblLargeThumbnail;
   }
}

.contextMenu {
    .grid {
        // display: grid;
        // grid-template-columns: repeat(3, minmax(0, 1fr));
        // grid-row-gap: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start; 
    }
    img.thumbnail {
        box-shadow: none;
        width: $mblThumbnail; 
        height: $mblThumbnail;
        margin: $baseMargin / 2;
    }
    img.thumbnail:hover {
        box-shadow: 0px 0px 20px 5px white;
    }
}

img.poster {
    // max-width: 100%;
    // max-height: 100%;
    height: 100vh;
    max-width: 50vw;//~
    // max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    // position: relative;
}

@media screen and (min-width: $desktopWidth) {
    img.thumbnail {
        width: $desktopThumbnail;
        height: $desktopThumbnail;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center; 
    }
    
    #container.threeGrid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 2fr)) 1fr;
        text-align: center; 
    }

    // main list turning into a toggle menu
    .menuList {
        // width: 10%;
        // margin-right: auto;

        #resultsList { //~
            display: flex;
            flex-direction: column;
            img.thumbnail {
                width: 100px; 
                height: 100px;
            }
        }
    }
}